In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
tutor = pd.read_csv('CognitiveTutorAlgebra-gaming-clips.csv')
tutor

,Row ID,lesson,student,assessment,context,action,input,time,Gaming clip
0,1,ESZ04,N0BrbPbwCMz,WRONG,3(x+2) = 15,clt,3(x+2) = 15,-1,NaN
1,2,ESZ04,N0BrbPbwCMz,WRONG,3(x+2) = 15,add,2,12,NaN
2,3,ESZ04,N0BrbPbwCMz,HELP,3(x+2) = 15,BLANK,BLANK,2,NaN
3,4,ESZ04,N0BrbPbwCMz,RIGHT,3(x+2) = 15,divide,3,7,NaN
4,5,ESZ04,N0BrbPbwCMz,RIGHT,x+2 = 5,subtract,2,16,NaN
...,...,...,...,...,...,...,...,...,...
399154,399155,QUADRATICS-FACTORINGZES,XJyS25Yg27,RIGHT,a-factor-2,BLANK,1,1,NaN
399155,399156,QUADRATICS-FACTORINGZES,XJyS25Yg27,HELP,c-factor-2,BLANK,BLANK,2,NaN
399156,399157,QUADRATICS-FACTORINGZES,XJyS25Yg27,RIGHT,c-factor-2,BLANK,-3,4,NaN
399157,399158,QUADRATICS-FACTORINGZES,XJyS25Yg27,RIGHT,FQCheckButton,BLANK,Check,1,NaN
399158,399159,QUADRATICS-FACTORINGZES,XJyS25Yg27,RIGHT,FinalAnswer,BLANK,(x+6)(x+-3),26,NaN

## Question 1

Compute each of the following 3 features:
AvgTimePerAction: The average time, in seconds, spent on each action included in the clip.
ContextChanges: The number of times the context (element of the user interface) in which the action took place was different from the previous actions for each action of the clip.
CorrectActions: The number of times the student executed a correct action within the clip.

In [2]:
tutor = tutor.dropna()
shifted_tutor = tutor.shift(periods=1, fill_value=np.nan)
tutor['Changed'] = ((tutor["context"] != shifted_tutor["context"]) & (tutor['Gaming clip'] == shifted_tutor['Gaming clip'])).astype(int)
tutor["ifRight"] = np.where(tutor['assessment'] == 'RIGHT', 1, 0)
tutor

/var/folders/c_/r4xtd2gn5kdb11m7bmhyh1b40000gn/T/ipykernel_19542/2343937076.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tutor['Changed'] = ((tutor["context"] != shifted_tutor["context"]) & (tutor['Gaming clip'] == shifted_tutor['Gaming clip'])).astype(int)
/var/folders/c_/r4xtd2gn5kdb11m7bmhyh1b40000gn/T/ipykernel_19542/2343937076.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tutor["ifRight"] = np.where(tutor['assessment'] == 'RIGHT', 1, 0)

,Row ID,lesson,student,assessment,context,action,input,time,Gaming clip,Changed,ifRight
829,830,CTA1Z10,N0BrbPbwCMz,WRONG,R3C2,BLANK,23*2456,16,834.0,0,0
830,831,CTA1Z10,N0BrbPbwCMz,WRONG,R3C2,BLANK,23x/456,46,834.0,0,0
831,832,CTA1Z10,N0BrbPbwCMz,WRONG,R3C2,BLANK,23x/456,3,834.0,0,0
832,833,CTA1Z10,N0BrbPbwCMz,HELP,R3C2,BLANK,23x/456,0,834.0,0,0
833,834,CTA1Z10,N0BrbPbwCMz,WRONG,R3C2,BLANK,X+23,11,834.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
398703,398704,CTA1Z15,XJyS25Yg27,RIGHT,yScale,BLANK,100000,2,398708.0,0,1
398704,398705,CTA1Z15,XJyS25Yg27,RIGHT,yScale,BLANK,"100,000",1,398708.0,0,1
398705,398706,CTA1Z15,XJyS25Yg27,RIGHT,yScale,BLANK,1000000,5,398708.0,0,1
398706,398707,CTA1Z15,XJyS25Yg27,RIGHT,yScale,BLANK,"1,000,000",0,398708.0,0,1
398707,398708,CTA1Z15,XJyS25Yg27,RIGHT,Intersection 1 X,BLANK,30,12,398708.0,1,1

In [3]:
AvgTimePerAction= tutor.groupby("Gaming clip")["time"].mean().reset_index()
ContextChanges = tutor.groupby("Gaming clip")["Changed"].sum().reset_index()
CorrectActions = tutor.groupby("Gaming clip")["ifRight"].sum().reset_index()
clip_tutor = pd.merge(AvgTimePerAction, ContextChanges, on='Gaming clip', suffixes=('AvgTimePerAction', 'ContextChanges'))
clip_tutor = pd.merge(clip_tutor,CorrectActions, on='Gaming clip', suffixes=('AvgTimePerAction', 'ContextChanges','CorrectActions'))
clip_tutor = clip_tutor.rename(columns = {'time':'AvgTimePerAction','Changed': 'ContextChanges', 'ifRight': 'CorrectActions'})
clip_tutor

       Gaming clip  AvgTimePerAction  ContextChanges  CorrectActions
0            834.0              15.2               0               0
1            856.0               5.8               2               2
2            881.0               8.6               4               4
3            896.0              43.0               2               4
4            921.0              35.4               3               2
...            ...               ...             ...             ...
10501     398649.0               9.8               4               4
10502     398668.0              18.2               4               5
10503     398680.0               4.6               4               5
10504     398695.0              11.6               2               2
10505     398708.0               4.0               1               5

[10506 rows x 4 columns]

## Question 2

Develop and compute 2 features that might be useful when trying to identify the gaming the system behavior. Provide a meaningful name and a description for both features you created.

### 1. HintRate

This feature is calculated by hint_count/action_count, it shows how often the student is trying to get hint, the higher it is, the more chance they are trying to game the system.

In [4]:
action_num= tutor.groupby("Gaming clip")["action"].count().reset_index()
tutor["ifHint"] = np.where(tutor['assessment'] == 'HELP', 1, 0)
hint_num= tutor.groupby("Gaming clip")["ifHint"].sum().reset_index()
clip_hint = pd.merge(action_num, hint_num, on='Gaming clip')
clip_hint["HintRate"]= clip_hint["ifHint"]/clip_hint["action"]
clip_tutor = pd.merge(clip_tutor,clip_hint, on='Gaming clip')
clip_tutor  = clip_tutor.drop(columns=["action", "ifHint"])
clip_tutor

/var/folders/c_/r4xtd2gn5kdb11m7bmhyh1b40000gn/T/ipykernel_19542/3510082765.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tutor["ifHint"] = np.where(tutor['assessment'] == 'HELP', 1, 0)

       Gaming clip  AvgTimePerAction  ContextChanges  CorrectActions  HintRate
0            834.0              15.2               0               0       0.2
1            856.0               5.8               2               2       0.0
2            881.0               8.6               4               4       0.0
3            896.0              43.0               2               4       0.0
4            921.0              35.4               3               2       0.0
...            ...               ...             ...             ...       ...
10501     398649.0               9.8               4               4       0.0
10502     398668.0              18.2               4               5       0.0
10503     398680.0               4.6               4               5       0.0
10504     398695.0              11.6               2               2       0.0
10505     398708.0               4.0               1               5       0.0

[10506 rows x 5 columns]

### 2.BugRate

This feature is calculated by bug_count/action_count, it shows how often the student is inputting something can't be recoginized by the system, it is an indication of potential guessing. The higher it is, the more likely the student is trying to guessing the answer.

In [5]:
tutor["ifBug"] = np.where(tutor['assessment'] == 'BUG', 1, 0)
bug_num= tutor.groupby("Gaming clip")["ifBug"].sum().reset_index()
clip_bug = pd.merge(action_num, bug_num, on='Gaming clip')
clip_bug["BugRate"]= clip_bug["ifBug"]/clip_bug["action"]
clip_tutor = pd.merge(clip_tutor,clip_bug, on='Gaming clip')
clip_tutor  = clip_tutor.drop(columns=["action", "ifBug"])
clip_tutor

/var/folders/c_/r4xtd2gn5kdb11m7bmhyh1b40000gn/T/ipykernel_19542/1996569643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tutor["ifBug"] = np.where(tutor['assessment'] == 'BUG', 1, 0)

,Gaming clip,AvgTimePerAction,ContextChanges,CorrectActions,HintRate,BugRate
0,834.0,15.2,0,0,0.2,0.0
1,856.0,5.8,2,2,0.0,0.6
2,881.0,8.6,4,4,0.0,0.2
3,896.0,43.0,2,4,0.0,0.0
4,921.0,35.4,3,2,0.0,0.4
...,...,...,...,...,...,...
10501,398649.0,9.8,4,4,0.0,0.2
10502,398668.0,18.2,4,5,0.0,0.0
10503,398680.0,4.6,4,5,0.0,0.0
10504,398695.0,11.6,2,2,0.0,0.0
10505,398708.0,4.0,1,5,0.0,0.0

In [6]:
clip_tutor.to_excel('Hands_on_data#1.xlsx', index=False)